.container {
    /* height: 100vh; */
    width: 80vw;
    font-size: large;
    margin: 0 0 10vh;
}

.heading {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 20px;
    word-wrap: break-word;
}

.listitem {
    margin: 20px 2vw;
}