.contact {
    background-color: rgb(30, 192, 30);
    border-radius: 10px;
    padding: 1rem;
    color: black;
}
@media screen and (max-width:420px){
    .contact{
        padding: 0.25rem 1rem;
    }
}

.header {
    max-height: 12vh;
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem;
    margin: 1vh 0 0;
    z-index: 5;
}

.links {
    padding: 1rem 1rem;
    margin: 0 2vw 0 0
}